{% extends "base.html" %}
{% block title %}Message list{%endblock title%}

{% block body %}

    <h1>Messages list</h1>

    <ul>

        {% for poruka in messages %}

            <li>
                <label>
                    {{ poruka.message_text }}
                </label>

                <p>
                    {{ poruka.key.id() }},
                    {{ poruka.message_text }},
                    {% if poruka.message_time != None %}
                    {{ poruka.message_time}}
                    {% endif %}
                    <a href="/messages/{{ poruka.key.id() }}/edit">Edit</a>
                    <a href="/messages/{{ poruka.key.id() }}/delete">Delete</a>
                </p>
            </li>

        {% endfor %}

    </ul>


{% endblock body %}