@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('./fonts/glyphicons-halflings-regular.eot');
    src: url('./fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('./fonts/glyphicons-halflings-regular.woff') format('woff'), url('./fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('./fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather Sans', sans-serif;
}

.navbar-default {
  background: #ffffff;
}

.navbar-default .navbar-brand {
  color: #ff931e!important;
  font-size: 20px;
  font-weight: bold;
}

.navbar-default .navbar-brand:hover {
  opacity: 0.7;
}

.navbar-default .navbar-nav {
  text-transform: uppercase;
  font-size:12px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #ff931e;
}


.bgimage {
  background-image: url(../img/hero-img.jpg);
  background-position: center center;
  background-size: cover;
  height: 500px;
  margin-top: -20px;
}

h2 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 45px;
  font-size: 26px;
}

h3 {
  text-align: left;
}


.glyphicon {
  position: relative;
  top: 1px;
  display: inline;
  text-align: right;
}

.panel-spacing {
  background-color: #ff931e;
  color: #ffffff;
}

.img-card-1 {
  background-image: url(../img/card-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 240px;
}

.img-card-2 {
  background-image: url(../img/card-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 240px;
}

.img-card-3 {
  background-image: url(../img/card-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 240px;
}

.panel-spacing {
  margin-bottom: 6px;
}

.panel-body {
  margin-bottom: 40px;
}

.form-control:focus {
    border-color: #ff931e!important;
    box-shadow: inset 0 1px 1px rgba(255,147,30,.075), 0 0 8px rgba(255, 147, 30, .6)!important;
}

.btn-message {
  background-color: #ff931e;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 15px 8px 15px;
}


footer {
  margin-top: 50px;
  padding-top: 20px;
  background: #f1f1f1;
}

.image-footer{
  background-image: url(../img/image-footer.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 200px;
  width: 70%;
}
