* {
    font-family: sans-serif;
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.button {
    padding: 10px;
    border: none;
    color: white;
    text-weight: bold;
    background-color: deeppink;
}