{% extends "base.html" %}
{% block title %}Blog{%endblock title%}
{% block content %}

    <h1>Blog</h1>
    <h2>Healthy food</h2>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel vulputate orci, eu vehicula tortor.
        Integer fermentum pharetra lacus, in pulvinar lorem. Vestibulum faucibus feugiat cursus.
        Donec non efficitur nibh. Fusce fermentum finibus ligula, id cursus libero ultrices quis.
        Praesent rhoncus sem at elementum gravida. Sed elit quam, lacinia id urna id, imperdiet suscipit tortor.
        Suspendisse ipsum quam, bibendum vitae odio at, scelerisque vehicula nunc.
        Cras sit amet ante vitae lectus eleifend finibus. Sed porta lacinia finibus.
        Aliquam ornare risus in mauris pellentesque, a lacinia tellus scelerisque.
    </p>

{% endblock content %}